Service References/WsHttpsAbcrcServiceReference/WsHttpsAbcrcService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbcrcContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbcrcContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AbcrcERBill">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalShippingContainers" nillable="true" type="tns:ArrayOfAbcrcOtherShippingContainer" />
      <xs:element name="Bags" nillable="true" type="tns:ArrayOfAbcrcERBillBag" />
      <xs:element minOccurs="0" name="CarrierCrisID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoadReference" nillable="true" type="xs:string" />
      <xs:element name="PlantCrisID" type="xs:int" />
      <xs:element minOccurs="0" name="ProBillNumber" nillable="true" type="xs:string" />
      <xs:element name="RBillNumber" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SealNumber" nillable="true" type="xs:string" />
      <xs:element name="ShippedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrailerNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcERBill" nillable="true" type="tns:AbcrcERBill" />
  <xs:complexType name="ArrayOfAbcrcOtherShippingContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbcrcOtherShippingContainer" nillable="true" type="tns:AbcrcOtherShippingContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbcrcOtherShippingContainer" nillable="true" type="tns:ArrayOfAbcrcOtherShippingContainer" />
  <xs:complexType name="AbcrcOtherShippingContainer">
    <xs:sequence>
      <xs:element name="ContainersShipped" type="xs:int" />
      <xs:element name="ShippingContainerTypeCrisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcOtherShippingContainer" nillable="true" type="tns:AbcrcOtherShippingContainer" />
  <xs:complexType name="ArrayOfAbcrcERBillBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbcrcERBillBag" nillable="true" type="tns:AbcrcERBillBag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbcrcERBillBag" nillable="true" type="tns:ArrayOfAbcrcERBillBag" />
  <xs:complexType name="AbcrcERBillBag">
    <xs:sequence>
      <xs:element name="BagTag" nillable="true" type="xs:string" />
      <xs:element name="ItemTypeCrisID" type="xs:int" />
      <xs:element name="ShippingContainerTypeCrisID" type="xs:int" />
      <xs:element name="UnitsShipped" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcERBillBag" nillable="true" type="tns:AbcrcERBillBag" />
  <xs:complexType name="AbcrcSubmitResponse">
    <xs:sequence>
      <xs:element name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="IsValid" type="xs:boolean" />
      <xs:element name="SubmitSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidationMessages" nillable="true" type="tns:ArrayOfAbcrcValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcSubmitResponse" nillable="true" type="tns:AbcrcSubmitResponse" />
  <xs:complexType name="ArrayOfAbcrcValidationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AbcrcValidationMessage" nillable="true" type="tns:AbcrcValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbcrcValidationMessage" nillable="true" type="tns:ArrayOfAbcrcValidationMessage" />
  <xs:complexType name="AbcrcValidationMessage">
    <xs:sequence>
      <xs:element name="ValidationCode" type="xs:int" />
      <xs:element name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcValidationMessage" nillable="true" type="tns:AbcrcValidationMessage" />
  <xs:complexType name="AbcrcValidationResponse">
    <xs:sequence>
      <xs:element name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidationMessages" nillable="true" type="tns:ArrayOfAbcrcValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbcrcValidationResponse" nillable="true" type="tns:AbcrcValidationResponse" />
</xs:schema>